body {
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  display: inline-block;
  position: relative;
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container.move {
  animation: do linear 0.18s;
}

@keyframes do {
  from {
    transform: translate(0px, 0px);
  }

  10% {
    transform: translate(2px, 2px);
  }

  30% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  90% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.head {
  background-color: #4a752c;
  padding: 10px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: width 0.3s;
}

.head .select {
  height: 2em;
}

.head .flag,
.head .time {
  display: inline-block;
}

.head .flag span:first-child {
  display: inline-block;
  background-image: url(./flag.png);
  background-size: cover;
  background-position: center center;
  width: 1.6em;
  height: 1.6em;
  vertical-align: middle;
}

.head .tool {
  display: none;
}

.head .tool.show {
  display: block;
}

.head .flag span:last-child,
.head .time span:last-child {
  color: whitesmoke;
  vertical-align: middle;
}

.head .time span:first-child {
  display: inline-block;
  background-image: url(./clock.png);
  background-size: cover;
  background-position: center center;
  width: 1.6em;
  height: 1.6em;
  vertical-align: middle;
  margin-left: 1.2em;
}

.head .close {
  color: white;
  display: none;
}

.head .close.show {
  display: block;
}

.close button {
  color: inherit;
  cursor: pointer;
  padding: 0 8px;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 2px;
  border: 1px solid gray;
}

.close button:disabled {
  background-color: rgba(100, 100, 100, 0.5);
  cursor: not-allowed;
}

.mineRow {
  position: relative;
}

.mine {
  position: absolute;
  width: 30px;
  height: 30px;
  transition-property: left, top, transform, opacity;
  transition-duration: 0.3s, 0.3s, 0.35s;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover {
  position: absolute;
  transition-property: left, top, transform, opacity;
  transition-duration: 0.3s, 0.3s, 0.35s;
  cursor: pointer;
  z-index: 10;
}

.mine:hover {
  z-index: 2;
  transform: scale(1.1);
  border: 1px solid #999;
}

.mineBack {
  position: absolute;
  font-size: 20px;
  font-family: "Ubuntu";
  font-weight: bold;
  line-height: 30px;
  transition-property: left, top, transform, opacity;
  transition-duration: 0.3s, 0.3s, 0.35s;
  width: 30px;
  height: 30px;
  z-index: -1;
}

.mineMapMask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 3px 1px rgba(200, 200, 200, 0.6);
  transition: height 0.3s;
  z-index: 10;
}

.mineMapMask.show {
  height: 100%;
}

.maskDiag {
  color: teal;
  font-size: 18px;
  position: absolute;
  text-align: center;
  width: 60%;
  background-color: #ddd;
  padding: 3em 0;
  border-radius: 5px;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
}

.maskDiag.show {
  opacity: 1;
}

.maskDiag span {
  padding: 0 0.2em;
  font-size: 30px;
  color: red;
}

.maskDiag a {
  color: black;
  text-decoration: none;
  font-size: initial;
  display: block;
  padding: 0.4em 1.5em;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 3px;
  margin-top: 0.5em;
  cursor: pointer;
  transition: all 0.2s;
}

.maskDiag a:hover {
  background-color: rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.5);
}

.maskDiag i {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  cursor: pointer;
  color: red;
  padding: 0 8px;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 2px;
  transition: all 0.2s;
}

.maskDiag i:hover {
  background-color: rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.5);
}

.pick {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: showFlag linear 0.3s;
}

.mine .pick::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 40%;
  clip-path: polygon(0 0, 80% 60%, 0 80%);
  left: 40%;
  top: 10%;
  background-color: red;
  z-index: 10px;
}

.mine .pick::after {
  content: "";
  position: absolute;
  width: 8%;
  height: 80%;
  background-color: black;
  left: 30%;
  top: 10%;
}

@keyframes showFlag {
  from {
    clip-path: circle(5% at 0 100%);
  }

  20% {
    clip-path: circle(20% at 0 100%);
  }

  40% {
    clip-path: circle(40% at 0 100%);
  }

  60% {
    clip-path: circle(60% at 0 100%);
  }

  80% {
    clip-path: circle(80% at 0 100%);
  }

  to {
    clip-path: circle(100% at 0 100%);
  }
}
